
.main-container {
   background-image: url("https://ik.imagekit.io/kishoare12/MERN%20assets/todolistbg.png_updatedAt=1700761069523?updatedAt=1750679287028");
   background-size: contain;
    width: 372px;
    height: 692px;
   }

  